{
  "root": true,
  "plugins": ["prettier"],
  "extends": ["airbnb-base", "plugin:import/warnings", "prettier"],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es2020": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "ignorePatterns": ["node_modules/", "dist/", "wallaby.js", "wallaby.cjs"],
  "rules": {
    "prettier/prettier": "error",
    "import/extensions": ["error", "ignorePackages"],
    "max-classes-per-file": "off",
    "no-bitwise": "off",
    "no-plusplus": "off",
    "no-param-reassign": "off",
    "no-continue": "off",
    "no-constant-condition": "off",
    "no-shadow": "off",
    "prefer-destructuring": "off",
    "no-use-before-define": ["error", { "functions": false }]
  }
}
