{
  "root": true,
  "plugins": ["prettier"],
  "extends": ["airbnb-base", "plugin:import/warnings", "prettier"],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es2020": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": "error",
    "import/extensions": ["error", "ignorePackages"],
    // "object-curly-spacing": "off",
    // "require-atomic-updates": "off",
    // "comma-dangle": "off",
    // "no-shadow": "off",
    "max-classes-per-file": "off",
    "no-bitwise": "off",
    "no-plusplus": "off"
    // "no-extra-semi": "error"
  }
}
